<h1> Welcome, <%= @player_1_name %> and <%= @player_2_name %>  </h1>
<body>
  < <%= $attack_notification %> >
  <a href="/attack">Attack</a>
  <!-- <p>How many points</p> -->

<div>
<%= @player_1_name %> points: <%= @player_1_score %>
<%= @player_2_name %> points: <%= @player_2_score %>
</div>
</body>
